@font-face {
  font-family: ibmplex;
  src: url("./IBMPlexMono-Light.otf");
}

body {
	margin: 0;
	overscroll-behavior: none;
	font-family:ibmplex;
}

#info {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1;
}

#notSupported {
	width: 50%;
	margin: auto;
	background-color: #f00;
	margin-top: 20px;
	padding: 10px;
}

.pinfos{
	width: 450px;
	position:absolute;
	top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
	color:black;
}

.lkr {
	text-align: center;
}

@media screen and (min-width : 591px){
	h1{
		font-size:35px;
	}
}

@media screen and (min-width : 370px) and (max-width : 590px){
	h1{
		font-size:22px;
	}
}


@media screen and (max-width : 369px){
	h1{
		font-size:19px;
	}
}

h1 {
	text-shadow: 1px 1px 1px white;
	text-align:center;
	margin-top:0;
	margin-bottom:0;
}

.pinfos a{
	/* text-shadow: 1px 1px 1px white; */
	color: black;
}

.projects {
	/* font-size: 12px; */
	text-align:center;
}

.projects p {
	font-size:14px;
	margin:20px 0 0 0;
}
