@font-face {
	font-family: 'boldFont';
	src: url('../assets/fonts/Bold.ttf');
}

@font-face {
	font-family: 'lightFont';
	src: url('../assets/fonts/Light.ttf');
}

@font-face {
	font-family: 'regularFont';
	src: url('../assets/fonts/Regular.ttf');
}

body {
	margin: 0px;
	overflow: hidden;
}

canvas { 
	display:block; 
	width:100%; 
	height: 100%; 
	position:absolute;
	left:0;
	top:0;
	z-index:-1;
}

.render-text {
	width: 100%;
	height:33%;
	position: absolute;
	top:0;
	bottom: 0;
	right: 0;	
	margin: auto 0;
}

.center-text {
	width: 100%;
	position: absolute;
	top:0;
	bottom: 0;
	right: 0;	
	margin: auto 0;
}

.talk-1 {
	font-family: "boldFont";
	color:black;
}

.talk-2 {
	font-family: "regularFont";
	color:black;
}

span {
	display: block;
	font-family: "lightFont";
}

a {
	font-family: "lightFont";
	color: black;
	text-decoration: none;
}

.render-text {
	left: 12%;
}

@media only screen
and (min-width : 320px)
and (max-width : 767px) {

	.center-text {
		height:70px;
	}

	.talk-1{
		font-size: 35px;
	}

	.talk-2{
		font-size: 16px;
		margin-top:2px;
	}

	span {
		font-size: 11px;
		margin-top: 6px;
	}
}

@media only screen
and (min-width : 768px)
and (max-width : 1223px) {

	.center-text {
		height:111px;
	}

	.talk-1{
		font-size: 65px;
	}

	.talk-2 {
		font-size: 38px;
		
	}

	span {
		font-size: 15px;
		margin-top: 10px;
	}

}


@media only screen
and (min-width : 1224px) 
and (max-width : 1823px){

	.center-text {
		height:174px;
	}

	.talk-1{
		font-size: 90px;
	}

	.talk-2 {
		font-size: 53px;
		
	}

	span {
		font-size: 22px;
		margin-top: 17px;
	}
}

@media only screen
and (min-width : 1824px) {
	.center-text {
		height:195px;
	}

	.talk-1{
		font-size: 105px;
	}

	.talk-2 {
		font-size: 48px;
		
	}

	span {
		font-size: 20px;
		margin-top: 17px;
	}
}